<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
  <a href="/logout" style="text-decoration: none ">退出登录</a>
  <p style="font-size: 50px;text-align: center">管理员后台</p>
  <a href="/addInfo" style="text-decoration: none"><div style="text-align: center;font-size: 30px">增加演出电影</div></a>
  <br>
  <a href="/addPlan" style="text-decoration: none"><div style="text-align: center;font-size: 30px">给电影排片</div></a>
  <br>
  <a href="/deleteInfo" style="text-decoration: none"><div style="text-align: center;font-size: 30px">取消电影演出</div></a>
  <br>
  <p style="font-size: 50px;text-align: center">朴素一点，大道至简</p>
</body>
</html>